{{ partial "header.html" . }}


{{ if .Content }}
{{ .Content }}
{{ else }}
<div class="archive">
  {{ range .Pages.GroupByDate "2006" }}
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}

  
  <section>
    <h1 class="content-title">
    <a class="a-list" href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
  
    <span class="content-meta">
      <i class="fa fa-calendar"></i><span>&nbsp;<time>{{ .Date.Format "2006-01-02" }}</time></span>
    <br>
    <i class="fa fa-tags">
      {{ range (.GetTerms "tags") }}
        <a class="a-tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
     {{ end }}
    </i>
  </section>
    
    <p style="color:#918D8F;">{{ .Params.summary }}</p>
    <a class="a-tag" href="{{ .RelPermalink }}">Read On →</a>
    
    <hr class="hr-list" />
    
    
    
  {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}




{{ partial "footer.html" . }}
