/* Background */




/* Micro Reset */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 960px;
  padding-left: 20%;
  padding-top: 5%;
  background:#fcf6ef;
  font-kerning: none;
  font-size: 19.9px;
  line-height: 1.40;
}


/*main -------------------------------------------------------------------------*/

.main {
  width: 700px;
  padding: 32px 10px 20px 20px;
  margin-left: 260px;
  min-height: calc(100vh - 60px);
  
  display: block;
  background:#fcf6ef;
}

button, input, select, textarea, label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

/* Typography */



.first:first-letter {
  color:var(--the-grey);
  float: left;
  font-size: 65px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 6px;
}


h1, h3, h4, h5, h6 {
  padding: 0;
  margin: 10px 0 10px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
}

.h2 {
  padding: 0;
  margin: 5px 0 5px;
  line-height: 1.25;
  text-align: center;
  font-size: 22px;
  font-family: "Alegreya";
  display: inline-block;
  color:var(--the-grey);
}

h3, h4, h5, h6 {
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
}

blockquote {
  margin: 1.7em 0;
  padding: 0px 1em;
  border-left: 4px solid #aaa;
  font-size:20.5px;
}

/* Code */

pre:before {
  content: "```{r}\a";
  color:#ed5032;
  font-weight: 325;
}

pre:after {
  content: "\a```";
  color:#ed5032;
}

pre, code {
  font-size: 17px;
  
}


pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  border-radius:4px;
}



code {
  font-weight: 325;
}


/* Lists */

ul, ol {
  padding: 0 0 0 20px;
}

li {
  margin: 4px 0;
  padding: 0;
}

/* Links */

a {
  text-decoration: none;
  padding-bottom: 2px;
}



.a-body::after {
    position: relative;
    content: "﻿°";
    margin-left: 0.1em;
    font-size: 100%;
    top: -0.1em;
    color:rgb(153, 51, 51);
}

.a-body:hover {
    background:#ffe0da;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.a-list{
  font-size:31px;
}

.a-list:hover {
    background:#ffe0da;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.a-tag {
  color:var(--the-grey)!important;
  font-size:15px;
  font-family: var(--heading-font);
  
}

.a-tag:hover {
    background:#ffe0da;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.a-menu {
  color:var(--the-grey)!important;
  font-family: var(--heading-font);
}

.a-menu:hover {
    background:#ffe0da;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 5px;
}


sup a {
  border-bottom: none;
}

.content-meta {
  font-size: 15px;
  color:var(--the-grey);
  font-family: var(--heading-font);
}

/* Miscellanea */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0;
  max-width: 300px;
}

.hr-list {
  max-width: 100%;
  margin-top: 3px !important;
}


.copyright {
  text-align: center;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* Layout */



.masthead {
  width: 260px;
  padding: 20px 50px 20px 10px;
  float: left;
}



/* Masthead */

.masthead h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0;
  text-align: right;
  font-size: 42px;
  line-height: 48px;
}

.masthead h1 a {
  border-bottom: none;
  color: var(--the-grey) !important;
}

.masthead .tagline {
  margin-top: 5px;
  text-align: right;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

.masthead .menu a {
  direction: ltr;
}

.masthead .menu ul ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead .menu li li::before {
  content: "•\00a\000a0\00a0"
}

/* Main */

.main .title h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.title h3 {
  font-weight: normal;
  text-align: center;
}

.subtitle {
  font-size: .9em;
  color: #666;
}

/* Footnotes */

.footnotes {
  font-size: .9em;
}

/* Tables */

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #f8f8f8;
}

/**
 * Utility Styles
 */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * -------------------------------------------------------------------------
 *  Media Queries
 * -------------------------------------------------------------------------
 *
 * The @viewport tag does the same thing as
 *
 *   <meta name="viewport" content="width=device-width">
 *
 * but in the future W3C standard way. The -ms- prefix is required for
 * IE10+ to render responsive styling in Windows 8 "snapped" views;
 * IE10+ does not honour the meta tag.
 */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Tablet screens and smaller */

@media screen and (max-width: 960px) {
  
  html::after {
    background:#fcf6ef !important;
  }

  body {
    width: auto;
    max-width: 700px;
    font-size: 19.9px;
    padding: 5px;
  }

  .masthead {
    width: auto;
    float: none;
    padding: 10px 0 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main {
    width: auto;
    padding: 5px 10px;
    margin-left: 2px;
    border-left: none;
    min-height: auto;
  }

  .masthead h1 {
    text-align: center;
  }

  .masthead .tagline {
    text-align: center;
  }

  .masthead .menu {
    direction: ltr;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead .menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .masthead .menu ul ul {
    margin: 0;
  }

  .masthead .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .masthead .menu li li:last-child {
    border-bottom: none;
  }

  .masthead .menu a {
    display: block;
    padding: 4px 4px;
    border-bottom: none;
    color:var(--the-grey) !important;
  }
  
  .masthead .menu a:hover {
    background:#ffe0da;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 6px;
  }

  .masthead .menu li li a {
    padding-left: 10px;
  }

  .masthead .menu li li::before {
    content: none;
  }

  .masthead .menu li li a::before {
    content: "•\00a0\00a0\00a0";
  }

  #menu-label {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    border: 1.5px solid var(--the-grey);
    cursor: pointer;
    line-height: 50px;
    color: var(--the-grey);
    font-size: 20px;
    margin-top: 5px;
    border-radius: 6px;
  }

  #menu-label .icon {
    width: 20px;
  }

  #menu-check ~ label .close-icon {
    display: none;
  }

  #menu-check ~ label .open-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .close-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .open-icon {
    display: none;
  }

  #menu-check ~ ul {
    display:none;
  }
  

  #menu-check:checked ~ ul {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    animation:swing-in-top-fwd;
    animation-duration:.5s;
  }
}

/* Landscape phone screens and smaller */

@media screen and (max-width: 720px) {
}

/* Portrait phone screens */

@media screen and (max-width: 480px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  h3, h4, h5, h6 {
    font-size: 16px;
  }

  pre, code {
    font-size: 12px;
  }

  .masthead {
    padding-top: 0;
  }

}
