  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">
    <span>
      {{ . | markdownify }}
      <a href = "https://github.com/shahreyar-abeer" style = "border-bottom:none;"><i class="fa fa-github fa-lg"></i></a>
      <a href = "/index.xml" style = "border-bottom:none;"><i class="fa fa-rss fa-lg"></i></a>
    </span>
  </div>
  {{ end }}
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
