<nav class="menu">
  <input id="menu-check" type="checkbox" hidden/>
  <label id="menu-label" for="menu-check" class="unselectable" hidden>
    <span class="icon close-icon">✕</span>
    <span class="icon open-icon">☰</span>
    <span class="text">Menu</span>
  </label>
  <ul>
  {{ $currentPage := . }}
  {{ range (default .Site.Menus.main (index .Site.Menus ($.Scratch.Get "section"))) }}
  <li{{ if eq .URL $currentPage.RelPermalink }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
  {{ end }}
  {{ partial "menu_extra.html" . }}
  </ul>
</nav>

<!-- no masthead on blog page -->
{{ if in .Permalink "/blog/"}}
<style>
  @media screen and (max-width: 960px) {
    .masthead .menu {
      display: none !important;
    }
    .masthead h1 {
      font-size: 24px !important;
      margin-bottom: 2px !important;
    }
    #tagline {
      display: none;
    }
    #header {
      display: none;
    }
  }
</style>
{{end}}
