{{ if not .IsHome }}
<h1>{{ .Page.Title }}</h1>
{{ with .Params.subtitle }}<h1><span class="subtitle">{{ . }}</span></h1>{{ end }}

<div>
  <h3>{{ with .Params.author }}{{ . }}{{ end }}
  {{ if .Params.date }} {{ if .Params.author }} / {{ end }} {{ .Date.Format "2006-01-02"   }}{{ end }}</h3>
</div>

<div style = "text-align:center">
  {{ if .Params.code }}
    <a class = "github-code" href = {{ .Params.code }} target = "_blank">
      <i class="fa fa-github"></i> code
    </a>
  {{end}}
  {{ if .Params.app }}
    &nbsp;
    <a class = "github-code" href = {{ .Params.app }} target = "_blank">
      <i class="fa fa-mobile fa-lg"></i> app 
    </a>
  {{end}}
</div>



<!-- showing the categories -->
{{ if eq .Permalink "/blog/"}}

  <div style = "text-align:center;">
    {{ range $index, $value := .Site.Taxonomies.categories }}
    
      <span style="color:#918D8F;"><a class="a-menu" href={{ .Page.Permalink }}>{{ .Page.Title }}</a> {{if ne $index "shiny"}} | {{end}} </span>
    {{ end }}
  </div>

{{end}}

<hr />
{{ end }}

