

<!-- back button on small screens, in all pages except home -->
{{ if not .IsHome }}
  <button class = "back" onclick="goBack()">&#8592;</button>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
  <style>
    @media screen and (max-width: 960px) {
      .back {
        float:left;
        background:#fcf6ef;
        cursor: pointer;
        border-width: 0px;
      }
      .masthead .menu {
        display: none !important;
      }
      .masthead h1 {
        font-size: 24px !important;
        margin-bottom: 2px !important;
      }
      #tagline {
        display: none;
      }
      #header {
        display: none;
      }
    }
    @media screen and (min-width: 961px) {
      .back {
        display: none;
      }
    }
  </style>
{{end}}

<!-- header image, tagline and title -->
<img id = "header" class = "header-pic" src={{ .Site.Params.headerPic }} alt="unsplash" width=180 height="200"/>
<h1><a href="{{ relURL "/" }}">{{ .Site.Title }}</a></h1>
{{ with .Site.Params.Description }}<p id="tagline">{{ . }}</p>{{ end }}

<!-- animations on homepage and about page -->
{{ if (eq .Permalink "/")}}
  <style>
    html::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: url(/img/background.png) no-repeat 50% 50%;
    background-size: cover;
    animation: fade-in-bottom; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  </style>
{{end}}

{{ if (eq .Permalink "/about/")}}
  <style>
    html::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: url(/img/background.png) no-repeat 50% 50%;
    background-size: cover;
    animation: fade-in-top; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  </style>
{{end}}