


<!-- back button on small screens, in all pages except home -->
{{ if not .IsHome }}
  <button class = "back" onclick="goBack()"><-</button>
  
  <!-- home button in all mobile screens except about, since that is given in big screens too -->
  {{ if ne .Permalink "/about/" }}
    <a href="/" class="home-button"><></a>
  {{end}}
  
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
  <style>
    @media screen and (max-width: 960px) {
      .back {
        font-family:Operator Mono;
        font-size: 13px;
        float:left;
        background:#fcf6ef;
        cursor: pointer;
        border-width: 0px;
        color:#918D8F;
      }
      .back:hover {
        background:#ffe0da;
        transition-property: background;
        transition-duration: 0.2s;
        border-radius: 8px;
      }
      .masthead .menu {
        display: none !important;
      }
      .masthead h1 {
        display:none;
      }
      #tagline {
        display: none;
      }
      #header {
        display: none;
      }
      .home-button {
        font-family:Operator Mono;
        font-size:13px;
        float:right;
        color:#918D8F;
      }
    }
    @media screen and (min-width: 961px) {
      .back {
        display: none;
      }
      .home-button {
        display:none;
      }
    }
  </style>
{{end}}


<!-- header image, tagline and title on all pages except blog -->
{{ if .IsHome }}

<img id = "header" class = "header-pic" src={{ .Site.Params.headerPic }} alt="unsplash" width=150 height="180"/>
<h1><a href="{{ relURL "/" }}">{{ .Site.Title }}</a></h1>
{{ with .Site.Params.Description }}<p id="tagline">{{ . }}</p>{{ end }}
{{else if eq .Permalink "/about/" }}
<a href="/" style="float:right;color:var(--the-grey)"><i class="fa fa-home"></i></a>
{{else}}
<a href="{{ relURL "/" }}">
  <img id = "header" class = "header-pic" src={{ .Site.Params.headerPic }} alt="unsplash" width=50 height="70"/>
</a>
{{end}}


<!-- animations on homepage and about page -->


{{ if (eq .Permalink "/about/")}}
  <style>
    html::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: url(/img/background.png) no-repeat 50% 50%;
    background-size: cover;
    animation: fade-in-top; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  </style>
{{end}}