body {
  font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
}
code {
  font-family: "Fira Code", "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
}



.a-logo {
  border-bottom:none;
  color: #918D8F !important;
}

.a-logo:hover {
  color:#424e59 !important;
	-webkit-transition:color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

/* the profile pic*/

.header-pic {
  display: box;
  float: right;
  margin-bottom: 35px;
}

#tagline {
    font-family: Alegreya !important;
    color:#918D8F !important;
    font-size: 22.1px;
    margin-top: 20px;
}

@media screen and (max-width: 960px) {

  .header-pic {
    display: box;
    float: none;
    width:130px;
    height:130px;
  }

}

/*aside element, like the one in the typography book.*/

aside {

  position: absolute;
  margin-left: -248px;
  width: 220px;
  font-family: Cooper;
  display: block;
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem;
  color: #918D8F;
  padding-top:7px;
}


@media all and (max-width:960px) {
    aside {
    position: relative;
    width: 100%;  
    margin-left: 0;
    text-align:left;
    }

    aside > p:last-child {
        margin-bottom: 0;
    }
}



/* Getting the Charter font*/

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}




@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_bold_italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: "Cooper";
  src: url("/fonts/CooperHewitt-Book.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Cooper";
  src: url("/fonts/CooperHewitt-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}




  /**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} 

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}





/* ----------------------------------------------
 * Generated by Animista on 2020-6-15 5:55:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 
 
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 
 
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}






---------------------------------------------------------

/*hire me button*/


button, a.button-hire {
    width:99%;
    margin: 0 auto;
    cursor: pointer;
    outline: 0;
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    color: #fff !important;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 -2px 0 #d26000 inset, -1px 0px 0px #d26000 inset;
    text-shadow: 0 -1px rgba(0,0,0,0.1);
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fe6b21;
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    font-weight: bold;
}

-------------------------------------------------------------------


.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}



#contact {
	background:#fcf6ef;
	padding:5px 30px 5px 30px;
	margin:10px 0;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
	text-align: center;
}

.box-name {
  margin-bottom: 2px;
  text-align: center;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:70%;
	height: 35px;
	border:1px solid #CCC;
	background:#fcf6ef;
	margin:0 0 5px;
	padding:10px;
	border-radius:.3rem;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
	border-radius:.3rem;
}

#contact textarea {
	height:180px;
	max-width:100%;
  resize:none;
  border-radius:.3rem;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:30%;
	border: none;
	background:#999;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:16px;
	border-radius:.3rem;
	font-weight: bold;
}

#contact button[type="submit"]:hover {
	background:#424e59;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#fcf6ef;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
